#header {
  height: 50px;
  background: #acb9cd;
  color: #fff;
}
#branding h1 {
  color: #fff;
}

div.breadcrumbs {
  background: #30caa0;
  color: #fff;
}
div.breadcrumbs a {
  color: #333;
}

.module h2,
.module caption,
.inline-group h2 {
  background: #844e4e;
}
